<div class="row loops-controls controls no-gutter">

  <div class="col-md-12">


    <div class="row">
      <div class="no-gutter col-sm-6 text-left">

        <div class="btn-group pull-left search-control">
          <input id="quicksearch" type="search" class="form-control input-sm" />
          <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
        </div>
      </div>

      <div class="col-md-6 text-right">

        <div class="btn-group btn-group-sm sort-controls" role="group" aria-label="...">
          <button type="button" class="btn btn-default sort-options" data-sort="name" data-dir="asc">Name</button>
          <button type="button" class="btn btn-default sort-options" data-sort="size" data-dir="asc">Size</button>
          <% if @video_assets_count > 0 %>
            <button type="button" class="btn btn-default sort-options" data-sort="duration" data-dir="asc">Duration</button>
          <% end %>
          <button type="button" class="btn btn-default sort-options" data-sort="uploaded" data-dir="asc">Date</button>
        </div>

      </div>

    </div>
    <hr/>

  </div><!-- end row -->
</div>