<li class="sidebar-header">Search</li>

<li class="sidebar-search">
    <div class="input-group custom-search-form">
        <input type="text" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button">
            <i class="fa fa-search"></i>
        </button>
    </span>
    </div>
</li>

<li class="sidebar-header">Filter</li>

<li>
  <a href="javascript:void(0)" class="library-item" id="filter-images">
    <span class="flaticon-image84">Images</span>
    <span class="asset-count"><%= @image_assets_count %></span>
  </a>
</li>

<li>
  <a href="javascript:void(0)" class="library-item" id="filter-videos">
    <span class="flaticon-movie42">Movies</span>
    <span class="asset-count"><%= @video_assets_count %></span>
  </a>
</li>

<li class="sidebar-header">Sort</li>

<li>
  <a href="javascript:void(0)" class="library-item">
    <span class="flaticon-male40">Name</span>
    <input type="checkbox" data-toggle="toggle" data-size="mini">
  </a>
</li>

<li>
  <a href="javascript:void(0)" class="library-item">
    <span class="flaticon-male40">Size</span>
    <input type="checkbox" data-toggle="toggle" data-size="mini">
  </a>
</li>

<li>
  <a href="javascript:void(0)" class="library-item">
    <span class="flaticon-male40">Duration</span>
    <input type="checkbox" data-toggle="toggle" data-size="mini">
  </a>
</li>

<li>
  <a href="javascript:void(0)" class="library-item">
    <span class="flaticon-male40">Uploaded</span>
    <input type="checkbox" data-toggle="toggle" data-size="mini">
  </a>
</li>
