@import url(http://fonts.googleapis.com/css?family=Lato|Montserrat|Raleway|Lobster);
@font-face {
	font-family: 'icomoon';
	src:font-url('icomoon.eot?-uiywg2');
	src:font-url('icomoon.eot?#iefix-uiywg2') format('embedded-opentype'),
		font-url('icomoon.woff?-uiywg2') format('woff'),
		font-url('icomoon.ttf?-uiywg2') format('truetype'),
		font-url('icomoon.svg?-uiywg2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-logo .path1:before {
	content: "\e600";
	color: rgb(134, 204, 100);
}
.icon-logo .path2:before {
	content: "\e601";
	margin-left: -9.18359375em;
	color: rgb(134, 204, 100);
}
.icon-logo .path3:before {
	content: "\e602";
	margin-left: -9.18359375em;
	color: rgb(134, 204, 100);
}
.icon-logo .path4:before {
	content: "\e603";
	margin-left: -9.18359375em;
	color: rgb(134, 204, 100);
}
.icon-logo .path5:before {
	content: "\e604";
	margin-left: -9.18359375em;
	color: rgb(134, 204, 100);
}
.icon-logo .path6:before {
	content: "\e605";
	margin-left: -9.18359375em;
	color: rgb(134, 204, 100);
}
.icon-logo .path7:before {
	content: "\e606";
	margin-left: -9.18359375em;
	color: rgb(134, 204, 100);
}
.icon-logo .path8:before {
	content: "\e607";
	margin-left: -9.18359375em;
	color: rgb(23, 111, 188);
}
.icon-logo .path9:before {
	content: "\e608";
	margin-left: -9.18359375em;
	color: rgb(23, 111, 188);
}
.icon-logo .path10:before {
	content: "\e609";
	margin-left: -9.18359375em;
	color: rgb(23, 111, 188);
}
.icon-logo .path11:before {
	content: "\e60a";
	margin-left: -9.18359375em;
	color: rgb(23, 111, 188);
}
.icon-logo .path12:before {
	content: "\e60b";
	margin-left: -9.18359375em;
	color: rgb(23, 111, 188);
}
.icon-logo .path13:before {
	content: "\e60c";
	margin-left: -9.18359375em;
	color: rgb(23, 111, 188);
}
.icon-logo .path14:before {
	content: "\e60d";
	margin-left: -9.18359375em;
	color: rgb(23, 111, 188);
}
.icon-logo .path15:before {
	content: "\e60e";
	margin-left: -9.18359375em;
	color: rgb(134, 204, 100);
}