<tr>
	<td><%= link_to user.name, user %></td>
	<td><%= user.email %></td>
	<td><%= user.orgadmin? ? 'Administrator' : 'Standard User' %></td>
	<% if current_user.orgadmin? && !current_user?(user) && !user.soadmin? %>
		<td><%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %></td>
	<% else %>
		<td></td>
	<% end %>
</tr>