<div class="row title-with-crud-buttons">
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 title-wrapper"><h1 class="page-title"><%= title %></h1></div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
  <div class="col-lg-6 col-md64 col-s6-4 col-6s-4 crud-icons-wrapper">
    <ul class="crud-icons-list list-inline">
      <!--<li><i id="editassetbutton" class="flaticon-edit42"></i></li>
      <li><i id="selectassetbutton" class="flaticon-hand224"></i></li>-->
      <!-- <li>
      <%= button_to delete_button_path, {method: :delete, remote: true, data: { confirm: 'Are you sure you want to delete these items?'}, form: {"data-ajax-handle" => "delete-assets"}} do %>
      	<i id="deleteassetbutton" class="flaticon-delete84"></i>
      <% end %>
      </li> -->
    </ul>
  </div>
</div>
<hr class="page-title-hr" />
