<p id="notice"><%= notice %></p>

<p>
	<strong>Displayname:</strong>
	<%= @slide_asset.displayname %>
</p>

<%= link_to 'Edit', edit_loop_asset_slide_asset_path(@loop_asset, @slide_asset) %> |
<%= link_to 'Back', loop_asset_path(@loop_asset) %>
