<!DOCTYPE html>
<html>
<head>
  <style>
    html, body {
      position:absolute;
      margin: 0px;
      width: 1920px;
      height: 1080px;
      overflow: hidden;
      background-color: black;
    }

    .fullIMG {
      height: 90%;
      width: auto;
    }

    .rsswrapper {
      color: white;
    }
  </style>
</head>
<body>
  <img class="fullIMG" src="__SRC1__"></img>
  <div class="rsswrapper">tests</div>
  <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
  <script type="text/javascript">
    $('.rsswrapper').html('newstuff');
  </script>
</body>
</html>