// Primary Variables
$sidebar-width: 180px;
$primary-bg-color: #232D37; //#2c3e50
$primary-sidebar-active-color: #FFFFFF;
$primary-sidebar-hover-color: #FFFFFF;
$primary-sidebar-inactive-color: #636D75;
$primary-navbar-inactive-color: #a1b9ca;
$primary-page-wrapper-bg-color: #F9F9FB;
$primary-asset-grid-width: 225px;
$primary-asset-grid-height: 173px;
$primary-asset-img-width: 225px;
$primary-asset-img-height: 170px;
$primary-button-link-color: #B0BBBD;
$primary-control-link-hover-color: #333333;
$primary-lightbox-image-max-width: 800px;

// Links
$primary-hover-color: #B0BBBD; //#9a9b9b;

// Overview Page
$overview-sidebar-active-color: #D2E9FF;
$overview-sidebar-hover-color: #D2E9FF;

// Library Page
$library-sidebar-active-color: #ecd780;
$library-sidebar-main-btn-bg-color: #ccb246;
$library-sidebar-hover-color: #D2E9FF;
$library-asset-type-icon-color: #828ea6;

// Campaign Page
$campaigns-sidebar-main-btn-bg-color: #6EEC80;
$campaigns-sidebar-active-color: #6EEC80;
$campaigns-sidebar-hover-color: #FFFFFF;

// Loops Page
$loops-sidebar-main-btn-bg-color: #EB6D7F;
$loops-sidebar-active-color: #EB6D7F;
$loops-sidebar-hover-color: #FFFFFF;

// Colors
$video-color: #70B14A;
$image-color: #7790B0;

$general-border-color: #ccd3dc;
